h1 {
  text-align: center;
}

img {
    width: 30%;
}

body {
    background: url("paisley.png");
}

div {
    width: 100%;
}

.red {
    color: red;
}

.orange {
    color: orange;
}



.stories-container {
    width: 80%;
    margin: 0 auto;
}